<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />     
    </startup>
  <connectionStrings>
    <add name="Test" connectionString="Persist Security Info=False;User ID=userdev;Password=123456Ab;Initial Catalog=DB_MorraCinese_Stage;Server=95.110.150.150" />
  </connectionStrings>
</configuration>